@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center my-md-5 my-3">
    <h1 class="display-4">Welcome to Short It!</h1>
    <p>Free URL Shortening tool.</p>
</div>
<div class="row">
    <div class="col-10 offset-1 col-md-8 offset-md-2">
        <input id="txtUrl" type="text" class="form-control" placeholder="https://google.com/" />
        <div id="labelResult" class="alert d-none my-3" role="alert">
        </div>
        <button id="btnGenerate" type="button" class="mx-auto d-block mt-3 btn btn-primary" onclick="GenerateShortLink()">Short It!</button>
    </div>
</div>