@{
    ViewData["Title"] = "Create Short URLs for Free";
}

<div class="text-center my-md-5 my-3">
    <h1 class="display-1">Short It!</h1>
    <p class="my-3">Free URL Shortening tool.</p>
</div>
<div class="row">
    <div class="col-10 offset-1 col-md-8 offset-md-2">
        <input id="txtUrl" type="text" class="form-control" placeholder="https://google.com/" />
        <div class="text-center">
        <button id="btnGenerate" type="button" class="mx-auto d-inline-block mt-3 btn btn-success" onclick="generateShortLink()">Short It!</button>
            <button class="btn btn-success mx-auto d-inline-block mt-3" type="button" data-bs-toggle="collapse" data-bs-target="#collapseStadistics" aria-expanded="false" aria-controls="collapseStadistics">Already have a link?, View Stadistics</button>
        </div>
        @Html.AntiForgeryToken()
        <div id="resultContainer" class="alert d-none my-3" role="alert">
            <p class="my-2" id="resultContainerText"></p>
            <div id="newLink" class="row d-none">
                <div class="col-12 my-1">
                    <p class="my-2">Full Url:</p>
                    <a class="my-2" id="linkFullUrl" href="" rel="noopener noreferrer" target="_blank">Full Url</a>
                </div>
                <div class="col-12 m-1">
                    <p class="my-2">Short Url:</p>
                    <a class="my-2" id="linkShortUrl" href="" rel="noopener noreferrer" target="_blank">Short Url</a>
                </div>
                <div class="col-12 text-center my-3">
                    <button type="button" class="btn btn-success" onclick="copyUrl()">Copy Short Link</button>
                    <button type="button" class="btn btn-success" onclick="viewStats()">View Link Stats</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-10 offset-1 col-md-8 offset-md-2 mt-5">
        <div class="collapse" id="collapseStadistics">
            <div class="card card-body">
        <p>Check your link's stadistics by providing the short url down below
        </p>
        <input id="txtShortUrl" type="text" class="form-control" placeholder="your Url" />
        <button id="btnGenerate" type="button" class="mx-auto d-block mt-3 btn btn-success" onclick="ViewStatsFromHomePage()">View Stats</button>
            </div>
        </div>
    </div>
</div>

<div class="row text-center my-5">
    <div class="col-12 col-md-4 px-5">
        <i class="bi bi-scissors feature-icon"></i>
        <h2>Shorten URLs</h2>
        <p>Short It makes long links look cleaner and easier to share!</p>
    </div>
    <div class="col-12 col-md-4 px-5">
        <i class="bi bi-bar-chart-fill feature-icon"></i>
        <h2>Track Link Clicks</h2>
        <p>Count the number of times your link has been used.</p>
    </div>
    <div class="col-12 col-md-4 px-5">
        <i class="bi bi-check feature-icon"></i>
        <h2>Easy to use</h2>
        <p>With a minimal and intuitive UI, Short It makes it easy as pie.</p>
    </div>
</div>

<div class="row text-center my-5">s
    <h2>API</h2>
    <div class="col-12 px-5">
        <p>Short It also has it's own free API accesible for public use, if you're a developer or tech enthusiast looking for generate short links this will come handy to you.</p>
    </div>
    <div class="col-12 px-5">
        
    </div>
</div>


@section Toastr {

    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <button type="button" class="btn-close ms-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                The link has been copied to clipboard!
            </div>
        </div>
    </div>
}

@section Scripts {
    <script type="text/javascript" src="/js/GenerateLinkScript.js"></script>
    <script type="text/javascript" src="/js/GetLinkStatsScript.js"></script>
}