@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="row">
    <div class="col-12 px-5">
        <h1>@ViewData["Title"]</h1>

        <p>One of the main priorities is the privacy of our visitors. This Privacy Policy page contains what data t is collected by this website and how its used.</p>

        <h2>How we use your information</h2>
        <p>We use the information we collect in various ways, including to:</p>

        <ul>
            <li>Provide, operate, and maintain our website</li>
            <li>Improve, personalize, and expand our website</li>
            <li>Understand and analyze how you use our website</li>
        </ul>

        <div class="col-12 text-center mt-5 mb-3">
            <a type="button" class="btn btn-success" href="/">Return to Main Page</a>
        </div>

    </div>
</div>

